
<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <h2>Grievance</h2>
  <form>
     
 
<p>
      <label>Name :  [[${name}]]</label>
    </p>
      
 <p>
      <label>E-Mail Id :[[${email}]] </label>
    </p>
 
 <p>
      <label>Phone No. : [[${phoneno}]]</label>
    </p>
    
    <p>
      <label>Event Id : [[${eventId}]]</label>
    </p>
    
       <p>
      <label>Comment : <input type="text" /></label>
    </p>
 
     
 
<p>
       <button type="submit">Submit</button>
    </p>
 
 
  </form>
</body>
</html>